<div class="row">
  <div class="col-md-6">      
    <div class="alert alert-info" role="alert">
      Add New Student
    </div>
      <form [formGroup]="addForm" (ngSubmit)="addNewStudent()" novalidate>
        <div formGroupName="fullName"
          [ngClass]="{'input-error': fullName.errors}">
          <div class="form-group">
            <label for="sfname">First Name</label>
            <input type="text" class="form-control" id="sfname" placeholder="Name"
              formControlName="firstName"
              [ngClass]="{ 'input-error': firstName.invalid }">
              <div *ngIf="firstName.dirty && firstName.invalid">
                  <div class="text-danger" *ngIf="firstName.errors.required">
                      First Name is required
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    <div class="text-danger">
                        First Name should be no less than {{ firstName.errors.minlength.requiredLength }} characters
                    </div>
                  </div>
              </div>
              <!-- <div>
                  <pre>Valid: {{ addForm.controls.name.valid }} | Invalid: {{ addForm.controls.name.invalid }}</pre>
                  <pre>Pristine: {{ addForm.controls.name.pristine }} | Dirty: {{ addForm.controls.name.dirty }}</pre>
                  <pre>Touched: {{ addForm.controls.name.touched }} | Untouched: {{ addForm.controls.name.untouched }}</pre>
              </div>             -->
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Name"
              formControlName="lastName">
              <div *ngIf="lastName.dirty && lastName.invalid">
                  <div class="text-danger" *ngIf="lastName.errors.required">
                      Last Name is required
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    <div class="text-danger">
                        Last Name should be no less than {{ lastName.errors.minlength.requiredLength }} characters
                    </div>
                  </div>
              </div>
              <!-- <div>
                  <pre>Valid: {{ addForm.controls.name.valid }} | Invalid: {{ addForm.controls.name.invalid }}</pre>
                  <pre>Pristine: {{ addForm.controls.name.pristine }} | Dirty: {{ addForm.controls.name.dirty }}</pre>
                  <pre>Touched: {{ addForm.controls.name.touched }} | Untouched: {{ addForm.controls.name.untouched }}</pre>
              </div>             -->
          </div>
          <div *ngIf="fullName.errors?.whereIsSymon">
              <div class="text-danger">
                  {{ fullName.errors.whereIsSymon }}
              </div>
          </div>
        </div>
        <div class="form-group">
          <label for="semail">Email address</label>
          <input type="email" class="form-control" id="semail" placeholder="name@example.com"
          formControlName="email">
          <div *ngIf="email.dirty && email.invalid">
            <div class="text-danger" *ngIf="email.errors.required">
              Email is required
            </div>
            <div class="text-danger" *ngIf="email.errors.pattern">
              Invalid email
            </div>
            <div class="text-danger" *ngIf="email.errors.domainEmail">
              {{ email.errors.domainEmail }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="scourse">Course</label>
          <select class="form-control" id="scourse" formControlName="course">
            <option value="">Select</option>
            <option *ngFor="let course of courses" value="{{course}}">{{course}}</option>
          </select>
          <div *ngIf="course.dirty && course.invalid">
            <div class="text-danger" *ngIf="course.errors.required">
                Please select a course
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="sgrade">Grade</label>
          <input type="range" class="form-control" id="sgrade" min="0" max="100"
          formControlName="grade">
        </div>
        <div class="form-group">
          <label for="sprogress">Course Progress</label>
          <input type="range" class="form-control" id="sprogress" min="0" max="100"
            formControlName="courseProgress">
        </div>
        <div class="form-group">
          <label for="sbalance">Balance</label>
          <input type="number" class="form-control" id="sprogress" min="-10000" max="10000"
          formControlName="balance">
          <div *ngIf="balance.dirty && balance.invalid">
            <div class="text-danger" *ngIf="balance.errors.required">
              Balance is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="simage">Image</label>
          <input type="text" class="form-control" id="simage"
          formControlName="image">
        </div>
        <button type="submit" class="btn btn-primary btn-block"
          [disabled]="addForm.invalid">
          {{ addForm.valid ? 'Submit' : 'Please fill in every field' }}
      </button>
      </form>
    </div>
    <div class="col-md-4">
      <pre>{{ addForm.value | json }} </pre>
    </div>
</div>
